<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CerebralFix Tween Generator</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
			integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
			crossorigin="anonymous"
		/>
		<script src="../lib/phaser.min.js"></script>
		<!-- development version of vue: -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<!-- production version of vue, optimized for size and speed
        <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
		<style>
			body {
				margin: 0;
			}

			#config-container {
				max-height: calc(100vh - 7rem);
				overflow-y: auto;
			}
		</style>
	</head>

	<body>
		<div id="app" class="container-fluid">
			<div class="row" id="row1">
				<div class="col-12">
					<h1 class="text-warning px-4">
						CerebralFix Tween Generator
					</h1>
				</div>
			</div>
			<!-- end of row1 -->
			<div class="row" id="row2">
				<div class="col-1"></div>
				<div id="sandbox-container" class="col-5 border" style="resize:horizontal; overflow: hidden;">
					<div class="row" id="row2-1">
						<div class="col embed-responsive embed-responsive-4by3" >
							<iframe id="game-frame" src="game/game.html" class="embed-responsive-item"></iframe>
						</div>
					</div>
					<!-- end of row2-1 -->
					<div class="row align-items-start" id="row2-2">
						<div class="col-3">
							<div class="footer">x: {{ mouseX}} y: {{ mouseY }} </div>
						</div>
						<div id="dimension-bar" class="col-auto text-right">
							<div class="form-inline">
								Width: &nbsp;
								<input
									v-model="gameWidth"
									class="form-control mb-2 mr-sm-2"
									type="number"
									maxlength="4"
									size="3"
									min="0"
									max="9999"
									value="800"
								/>
								Height: &nbsp;
								<input
									v-model="gameHeight"
									class="form-control mb-2"
									type="number"
									maxlength="4"
									min="0"
									max="9999"
									value="600"
								/>
								&nbsp;
								<button class="btn btn-primary mb-2" id="updateButton" @click="updateGameSize">
									Resize Game
								</button>
								&nbsp;
								<button v-if="items.length" class="btn btn-primary mb-2 " @click="testConfig">
									<i class="far fa-play-circle"></i>&nbsp;Play
								</button>
							</div>
						</div>
						<!-- end of dimension-bar -->
					</div>
					<!-- end of row 2-2 -->
				</div>
				<!-- end of sandbox-container -->
				<div id="config-container" class="col-5 border">
					<ul class="nav nav-tabs" id="uiTabs" role="tablist">
						<li class="nav-item">
							<a
								class="nav-link active"
								id="design-tab"
								data-toggle="tab"
								href="#design"
								role="tab"
								aria-controls="design"
								aria-selected="true"
								>Design</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link"
								id="code-tab"
								data-toggle="tab"
								href="#code"
								role="tab"
								aria-controls="code"
								aria-selected="false"
								>Code</a
							>
						</li>
					</ul>
					<!-- end of uiTabs-->
					<div id="uiTabContent" class="tab-content">
						<div id="design" class="tab-pane fade show active" role="tabpanel" aria-labelledby="design-tab">
							<div class="container">
								<div class="row" id="cc-row1">
									<div class="col col-auto">
										<h3 class="text-warning">
											1: Add assets into the game
										</h3>
										<!-- when 1 asset is added, turn this text green.-->
									</div>
								</div>
								<!-- end of cc-row1 (heading row) -->
								<div class="row" id="cc-row2">
									<div class="col col-auto input-group mb-3">
										<div class="custom-file">
											<input
												type="file"
												class="custom-file-input"
												id="assetUpload"
												@change="fileSelected"
												accept="image/*"
											/>
											<label class="custom-file-label" for="assetUpload" aria-describedby="assetUploadAddon"
												>Choose file</label
											>
										</div>
									</div>
								</div>

								<!-- end of cc-row2 - (file upload) -->
								<div v-if="items.length">
									<div class="row" id="cc-row3">
										<div class="col col-auto">
											<h5>Assets Added</h5>
										</div>
									</div>
									<!-- end of cc-row3 (heading) -->
									<div v-for="(item, index) in items"  class="row">
										<div class="col">
											<div class="container-fluid border">
												<div class="row">
													<div class="col-6">
														<img class="img-thumbnail" width="50px" :src="'assets/'+item.name" />

													</div>
													<div class="col-5">
														<h5>{{ item.name }}</h5>
													</div>
													<div class="col-1">
														<i class="far fa-trash-alt text-danger" @click="deleteAsset(index)"></i>
													</div>
												</div>
												<div class="row">
													<div class="col">anchor x</div>
													<div class="col">anchor y</div>
													<div class="col">pivot x</div>
													<div class="col">pivot y</div>
												</div>
												<div class="row">
													<div class="col">
														<input
															id="xAnchorText"
															class="form-control"
															type="number"
															v-model="item.anchor.x"
															max="1"
															min="0"
															step="0.1"
															@change="setAnchor(item)"
														/>
													</div>
													<div class="col">
														<input
															id="yAnchorText"
															class="form-control"
															type="number"
															v-model="item.anchor.y"
															max="1"
															min="0"
															step="0.1"
															@change="setAnchor(item)"
														/>
													</div>
													<div class="col">
														<input
															id="xPivot"
															class="form-control"
															type="number"
															v-model="item.pivot.x"
															@change="setPivot(item)"
														/>
													</div>
													<div class="col">
														<input
															id="yPivot"
															class="form-control"
															type="number"
															v-model="item.pivot.y"
															@change="setPivot(item)"
														/>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- end of generated asset rows -->

									<div class="row" id="cc-row5">
										<div class="col col-auto">
											<h3 class="text-warning">
												2: Set up Tweens
											</h3>
										</div>
									</div>
									<!--end of cc-row5 (heading) -->
									<div class="row" id="cc-row6">
										<div class="col col-12">
											<select v-model="spriteToTween" class="form-control">
												<option v-for="(item, index) in items" v-bind:value="index">{{ item.name }}</option>
											</select>
										</div>
									</div>
									<!-- end of cc-row6 (tween select) -->
									<div class="row" id="cc-row7">
										<div class="col-3">
											<div class="custom-control custom-switch form-check-inline">
												<input
													type="checkbox"
													class="custom-control-input"
													id="moveTween"
													v-model="moveTween"
													data-toggle="collapse"
													data-target="#collapseMove"
												/>
												<label class="custom-control-label" for="moveTween">Move</label>
											</div>
										</div>
										<div class="col-3">
											<div class="custom-control custom-switch form-check-inline">
												<input
													type="checkbox"
													class="custom-control-input"
													id="rotateTween"
													v-model="rotateTween"
													data-toggle="collapse"
													data-target="#collapseRotate"
												/>
												<label class="custom-control-label" for="rotateTween">Rotate</label>
											</div>
										</div>
										<div class="col-3">
											<div class="custom-control custom-switch form-check-inline">
												<input
													type="checkbox"
													class="custom-control-input"
													id="alphaTween"
													v-model="alphaTween"
													data-toggle="collapse"
													data-target="#collapseAlpha"
												/>
												<label class="custom-control-label" for="alphaTween">Alpha</label>
											</div>
										</div>
										<div class="col-3">
											<div class="custom-control custom-switch form-check-inline">
												<input
													type="checkbox"
													class="custom-control-input"
													id="scaleTween"
													v-model="scaleTween"
													data-toggle="collapse"
													data-target="#collapseScale"
												/>
												<label class="custom-control-label" for="scaleTween">Scale</label>
											</div>
										</div>
									</div>
									<!-- end of cc-row7 (tween switches) -->
									<div class="accordion" id="tween-accordion">
										<div class="card" id="move-card">
											<div class="card-header" id="move-tween-header">
												<h4 class="mb-0">
													<button
														class="btn btn-link"
														type="button"
														data-toggle="collapse"
														data-target="#collapseMove"
														aria-expanded="true"
														aria-controls="collapseMove"
														@click="updateToggle('Move')"
													>
														Move Tween Config
													</button>
												</h4>
											</div>
											<!-- end of move card header -->
											<div id="collapseMove" class="collapse" aria-labelledBy="move-tween-header">
												<div class="card-body">
													<div class="container-fluid">
														<div class="row" id="cc-ac-move-row1">
															<div class="col-4">
																&nbsp;
															</div>
															<div class="col-3 text-center">
																x
															</div>
															<div class="col-3 text-center">
																y
															</div>
															<div class="col-2">
																&nbsp;
															</div>
														</div>
														<!-- end of cc-ac-move-row1-->
														<div class="row my-2" id="cc-ac-move-row2">
															<div class="col-4">
																Start Position:
															</div>
															<div
																class="col-3 text-center"
																@blur="editPos($event, spriteToTween, 'x', 'tween.startPos')"
																contenteditable
															>
																{{ getTween().startPos.x }}
															</div>
															<div
																class="col-3 text-center"
																@blur="editPos($event, spriteToTween, 'y', 'tween.startPos')"
																contenteditable
															>
																{{ getTween().startPos.y }}
															</div>
															<div class="col-2"></div>
														</div>
														<!-- end of cc-ac-move-row2-->
														<div class="row my-2" id="cc-ac-move-row3">
															<div class="col-4">
																End Position:
															</div>
															<div
																class="col-3 text-center"
																@blur="editPos($event, spriteToTween, 'x', 'tween.endPos')"
																contenteditable
															>
																<span v-if="getTween().endPos && getTween().endPos.x">{{
																	getTween().endPos.x
																}}</span>
																<span v-else>?</span>
															</div>
															<div
																class="col-3 text-center"
																@blur="editPos($event, spriteToTween, 'y', 'tween.endPos')"
																contenteditable
															>
																<span v-if="getTween().endPos && getTween().endPos.y">{{
																	getTween().endPos.y
																}}</span>
																<span v-else>?</span>
															</div>
															<div class="col-2 pt-2"></div>
														</div>
														<!-- end of cc-ac-move-row3-->
													</div>
												</div>
												<!-- end of accordion move card body-->
											</div>
											<!-- end of move collapseable section -->
										</div>
										<!-- end of move card -->
										<div class="card" id="rotate-card">
											<div class="card-header" id="rotate-tween-header">
												<h4 class="mb-0">
													<button
														class="btn btn-link collapsed"
														type="button"
														data-toggle="collapse"
														data-target="#collapseRotate"
														aria-expanded="true"
														aria-controls="collapseRotate"
														@click="updateToggle('Rotate')"
													>
														Rotate Tween Config
													</button>
												</h4>
											</div>
											<!-- end of rotate card header -->
											<div id="collapseRotate" class="collapse" aria-labelledBy="rotate-tween-header">
												<div class="card-body">
													<div class="container-fluid">
														<div class="row">
															<div class="col-4">
																Angle:
															</div>
															<div class="col-6">
																<input
																	type="range"
																	class="form-control-range"
																	id="angleRange"
																	min="-360"
																	max="360"
																	step="1"
																	value="0"
																	v-model="getTween().endAngle"
																	@change="addTweens"
																/>
																<input
																	id="angleText"
																	class="form-control"
																	type="number"
																	v-model="getTween().endAngle"
																	max="360"
																	min="-360"
																	step="1"
																	@change="addTweens"
																/>
															</div>

															<div class="col-2 pt-2">
															</div>
														</div>
													</div>
												</div>
												<!-- end of rotate card body -->
											</div>
											<!-- end of rotate card collapse -->
										</div>
										<!-- end of rotate card -->
										<div class="card">
											<div class="card-header" id="alpha-tween-header">
												<h4 class="mb-0">
													<button
														class="btn btn-link collapsed"
														type="button"
														data-toggle="collapse"
														data-target="#collapseAlpha"
														aria-expanded="true"
														aria-controls="collapseAlpha"
														@click="updateToggle('Alpha')"
													>
														Alpha Tween Config
													</button>
												</h4>
											</div>
											<!-- end of alpha card head -->
											<div id="collapseAlpha" class="collapse" aria-labelledBy="alpha-tween-header">
												<div class="card-body">
													<div class="container-fluid">
														<div class="row">
															<div class="col-6">
																Alpha: Start
																<input
																	type="range"
																	class="form-control-range"
																	id="alphaStartRange"
																	min="0"
																	max="1"
																	step="0.1"
																	value="1"
																	v-model="getTween().startAlpha"
																	@change="addTweens"
																/>
																<input
																	id="alphaStartText"
																	class="form-control"
																	type="number"
																	v-model="getTween().startAlpha"
																	max="1"
																	min="0"
																	step="0.1"
																	@change="addTweens"
																/>
															</div>
															<div class="col-6">
																Alpha: End<br />
																<input
																	type="range"
																	class="form-control-range"
																	id="alphaRange"
																	min="0"
																	max="1"
																	step="0.1"
																	value="1"
																	v-model="getTween().endAlpha"
																	@change="addTweens"
																/>
																<input
																	id="alphaText"
																	class="form-control"
																	type="number"
																	v-model="getTween().endAlpha"
																	max="1"
																	min="0"
																	step="0.1"
																	@change="addTweens"
																/>
															</div>
														</div>
													</div>
												</div>
												<!-- end of aplpha card body -->
											</div>
											<!-- end of alpha collapse-->
										</div>
										<!-- end of alpha card -->
										<div class="card">
											<div class="card-header" id="scale-tween-header">
												<h4 class="mb-0">
													<button
														class="btn btn-link collapsed"
														type="button"
														data-toggle="collapse"
														data-target="#collapseScale"
														aria-expanded="true"
														aria-controls="collapseScale"
														@click="updateToggle('Scale')"
													>
														Scale Tween Config
													</button>
												</h4>
											</div>
											<!-- end of scale card head -->
											<div id="collapseScale" class="collapse" aria-labelledBy="scale-tween-header">
												<div class="card-body">
													<div class="container-fluid">
														<div class="row">
															<div class="col-6">
																&nbsp;
															</div>
															<div class="col-2 text-center">
																x
															</div>
															<div class="col-2 text-center">
																y
															</div>
															<div class="col-2">
																&nbsp;
															</div>
														</div>
														<div class="row my-2">
															<div class="col-6">
																Start Scale:
															</div>
															<div class="col-2 text-center" @blur="editPos($event, spriteToTween, 'x', 'tween.startScale')" contenteditable>
																	{{ getTween().startScale.x }}
																</div>
																<div class="col-2 text-center" @blur="editPos($event, spriteToTween,'y', 'tween.startScale')" contenteditable>
																		{{ getTween().startScale.y }}
																	</div>
														</div>
														<div class="row my-2">
																<div class="col-6">
																	End Scale:
																</div>
																<div class="col-2 text-center" @blur="editPos($event, spriteToTween, 'x', 'tween.endScale')" contenteditable>
																		<span v-if="getTween().endScale && getTween().endScale.x">{{ getTween().endScale.x }}</span>
																		<span v-else>?</span>
																	</div>
																	<div class="col-2 text-center" @blur="editPos($event, spriteToTween, 'y', 'tween.endScale')" contenteditable>
																			<span v-if="getTween().endScale && getTween().endScale.y">{{ getTween().endScale.y }}</span>
																			<span v-else>?</span>
																		</div>
															</div>
													</div>
												</div>
												<!-- end of scale card body -->
											</div>
											<!-- end of scale collapse -->
										</div>
										<!-- end of scale card -->
										<div class="card">
											<div class="card-header" id="easing-tween-header">
												<h4 class="mb-0">
													<button
														class="btn btn-link collapsed"
														type="button"
														data-toggle="collapse"
														data-target="#collapseEasing"
														aria-expanded="true"
														aria-controls="collapseEasing"
													>
														Easing Config
													</button>
												</h4>
											</div>
											<!-- end of easing header -->
											<div id="collapseEasing" class="collapse show" aria-labelledBy="easing-tween-header">
												<div class="card-body">
													<div class="container-fluid">
														<div class="row">
															<div class="col-6">
																<label for="easing">Easing:</label>
																<a href="https://easings.net/en" target="_blank"><i class="far fa-question-circle float-right"></i></a>
																<select v-model="getTween().easingId" class="form-control" @change="updateStyles(); addTweens()">
																	<option v-for="easing in easings" v-bind:value="easing.id">{{
																		easing.name
																	}}</option>
																</select>
															</div>
															<div class="col-6">
																<label class="" for="easingStyle">Easing Style:</label>
																<select id="easingStyle" v-model="getTween().easingStyleId" class="form-control" @change="addTweens">
																	<option v-for="style in easingStyles" v-bind:value="style.id">{{
																		style.name
																	}}</option>
																</select>
															</div>
														</div>
														<div class="row my-2">
															<div class="col-6">
																<label class="" for="durationRange">Duration (ms):</label>
															</div>
															<div class="col-6">
																<input
																	type="range"
																	class="form-control-range"
																	id="durationRange"
																	min="0"
																	max="10000"
																	step="100"
																	value="1000"
																	v-model="getTween().duration"
																	@change="addTweens"
																/>
																<input
																	id="durationText"
																	class="form-control"
																	type="number"
																	v-model="getTween().duration"
																	max="10000"
																	min="0"
																	step="100"
																	@change="addTweens"
																/>
															</div>
														</div>
														<div class="row my-2">
															<div class="col-6">
																<label class="" for="delayRange">Delay (ms):</label>
															</div>
															<div class="col-6">
																<input
																	type="range"
																	class="form-control-range"
																	id="delayRange"
																	min="0"
																	max="10000"
																	step="100"
																	value="0"
																	v-model="getTween().delay"
																	@change="addTweens"
																/>
																<input
																	id="delayText"
																	class="form-control"
																	type="number"
																	v-model="getTween().delay"
																	max="10000"
																	min="0"
																	step="100"
																	@change="addTweens"
																/>
															</div>
														</div>
														<div class="row my-2">
															<div class="col-3">
																Repeat:
															</div>
															<div class="col-3">
																<input
																	id="repeat"
																	v-model="getTween().repeat"
																	class="form-control"
																	type="number"
																	maxlength="3"
																	max="999"
																	min="0"
																	value="0"
																	@change="addTweens"
																/>
															</div>
															<div class="col-6">
																<div class="custom-control custom-switch form-check-inline">
																	<input
																		type="checkbox"
																		class="custom-control-input"
																		id="repeat-forever"
																		v-model="forever"
																		@change="setForever($event); addTweens()"
																	/>
																	<label class="custom-control-label" for="repeat-forever">Forever </label>
																</div>
															</div>
														</div>
														<div class="row my-2">
															<div class="col-6">
																<div class="custom-control custom-switch form-check-inline">
																	<input type="checkbox" class="custom-control-input" id="yoyo" v-model="getTween().yoyo" @change="addTweens" /><label
																		class="custom-control-label"
																		for="yoyo"
																		>YoYo
																	</label>
																</div>
															</div>
															<div class="col-6">
																<div class="custom-control custom-switch form-check-inline">
																	<input type="checkbox" class="custom-control-input" id="autoStart" v-model="getTween().autoStart" @change="addTweens" /><label
																		class="custom-control-label"
																		for="autoStart"
																		>Auto-start
																	</label>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- end of easing body -->
											</div>
											<!-- end of easing collapse -->
										</div>
										<!-- end of easing card -->
									</div>
									<!-- end of accordion -->
								</div>
								<!-- end of v-if (assets added list) -->
							</div>
						</div>
						<!-- end of design tab -->
						<div id="code" class="tab-pane fade" role="tabpanel" aria-labelledby="code-tab">
							<div class="container-fluid">
								<div v-if="tweenedItems.length" class="row">
									<div class="col">
										<div class="btn-group-sm btn-group-toggle float-right">
											<label class="btn btn-primary" for="Absolute" :class="relativeTo == 'absolute' ? 'active': ''">
												<input type="radio" v-model="relativeTo" id="Absolute" value="absolute"> Absolute
											</label>
											<label class="btn btn-primary" for="Width" :class="relativeTo == 'width' ? 'active': ''">
												<input type="radio" v-model="relativeTo" id="Width" value="width"> Relative to Width
											</label>
											<label class="btn btn-primary" for="Height" :class="relativeTo == 'height' ? 'active': ''">
												<input type="radio" v-model="relativeTo" id="Height" value="height"> Relative to Height
											</label>
										</div>
									</div>
								</div>
										<div v-for="item in tweenedItems">
											<div class="row">
												<div class="col">
													<div class="media border">
														<img :src="'/assets/'+ item.name" class="mr-3 img-thumbnail" width="10%">
														<div class="media-body">
															<h6>{{ item.name}}</h6>
															<code style="white-space: pre-line">{{item.getCode(relativeTo, gameWidth, gameHeight)}}</code>
														</div>
													</div>
												</div>
										</div>
									</div>
							</div>
						</div>
						<!-- end of code tab -->
					</div>
					<!-- end of uiTabContent -->
				</div>
				<!-- end of config-container -->
			</div>
			<!-- end of row2 -->
		</div>
		<!-- end of app -->
		<script src="./js/model.js"></script>
		<script src="./js/controller.js"></script>
		<!-- Begin Bootstrap script files -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
		<script>
			bsCustomFileInput.init();
		</script>
		<!-- End Bootstrap script files -->
	</body>
</html>
